<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Запись на услугу</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fyiSzp0DmeJaNPa/nbmXa/8DlYQ
          5t0KAOpQ=="
        crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Выберите услугу для записи</h1>
  <form th:action="@{/appointment}" method="post">
    <div class="form-group">
      <label for="service">Услуга</label>
      <select id="service" name="service" class="form-control">
        <option value="">Выберите услугу</option>
        <option th:each="service : ${services}" th:value="${service.id}" th:text="${service.name}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="date">Дата</label>
      <input type="date" id="date" name="date" class="form-control">
    </div>
    <div class="form-group">
      <label for="time">Время</label>
      <input type="time" id="time" name="time" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Записаться</button>
  </form>
</div>
</body>
</html>
